<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fourth Year</title>
    <link rel="stylesheet" href="nav.css">
</head>
<body>
      <!-- Navigation Bar -->
 <%- include("partials/nav") -%>
 
    <h1>Fourth Year</h1>
    <!-- Add your content here -->
</body>
</html>
